<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} Linha Verde Intake form</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} Linha Verde Intake form</h1>
        {{#id}}
        {{#page_config.can_delete}}
        <form action="{{svc}}/lvforms/{{id}}" method="post" data-ajax="false"
          data-wq-json="true" data-wq-background-sync="false" data-wq-confirm>
          {{>csrf}}
          <input type=hidden name="_method" value="DELETE">
          <button type="submit" data-icon="delete" class="ui-btn-right">
            Delete
          </button>
        </form>
        {{/page_config.can_delete}}
        {{/id}}
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/lvforms/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='lv_form-today'></label>
              <input id='lv_form-today' type='date' data-xform-type='today' name='today' value="{{today}}">
              <p class='error lv_form-today-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-username'></label>
              <input id='lv_form-username' type='text' data-xform-type='username' name='username' value="{{username}}">
              <p class='error lv_form-username-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-deviceid'></label>
              <input id='lv_form-deviceid' type='text' data-xform-type='deviceid' name='deviceid' value="{{deviceid}}">
              <p class='error lv_form-deviceid-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-phonenumber'></label>
              <input id='lv_form-phonenumber' type='tel' data-xform-type='phonenumber' name='phonenumber' value="{{phonenumber}}">
              <p class='error lv_form-phonenumber-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Consent to collect personal information</legend>
                {{#consent_pi_choices}}
                <input type='radio' id='lv_form-consent_pi-{{name}}' name='consent_pi' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-consent_pi-{{name}}'>{{label}}</label>
                {{/consent_pi_choices}}
              </fieldset>
              <p class='hint'>Consent to collect personal information</p>
              <p class='error lv_form-consent_pi-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Consent to share personal information with third parties</legend>
                {{#consent_share_pi_choices}}
                <input type='radio' id='lv_form-consent_share_pi-{{name}}' name='consent_share_pi' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-consent_share_pi-{{name}}'>{{label}}</label>
                {{/consent_share_pi_choices}}
              </fieldset>
              <p class='hint'>Consent to share personal information with third parties</p>
              <p class='error lv_form-consent_share_pi-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-fullname'>Full Name</label>
              <textarea id='lv_form-fullname' name='fullname' data-xform-type="text" required>{{fullname}}</textarea>
              <p class="hint">Full Name</p>
              <p class='error lv_form-fullname-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-contact'>Contact</label>
              <input id='lv_form-contact' type='number' data-xform-type='integer' name='contact' required value="{{contact}}">
              <p class="hint">Contact</p>
              <p class='error lv_form-contact-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Gender</legend>
                {{#gender_choices}}
                <input type='radio' id='lv_form-gender-{{name}}' name='gender' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-gender-{{name}}'>{{label}}</label>
                {{/gender_choices}}
              </fieldset>
              <p class='hint'>Gender</p>
              <p class='error lv_form-gender-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Province</legend>
                {{#provincia_choices}}
                <input type='radio' id='lv_form-provincia-{{name}}' name='provincia' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-provincia-{{name}}'>{{label}}</label>
                {{/provincia_choices}}
              </fieldset>
              <p class='hint'>Province</p>
              <p class='error lv_form-provincia-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>District</legend>
                {{#distrito_choices}}
                <input type='radio' id='lv_form-distrito-{{name}}' name='distrito' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-distrito-{{name}}'>{{label}}</label>
                {{/distrito_choices}}
              </fieldset>
              <p class='hint'>District</p>
              <p class='error lv_form-distrito-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Locality</legend>
                {{#localidade_choices}}
                <input type='radio' id='lv_form-localidade-{{name}}' name='localidade' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-localidade-{{name}}'>{{label}}</label>
                {{/localidade_choices}}
              </fieldset>
              <p class='hint'>Locality</p>
              <p class='error lv_form-localidade-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-community'>Community</label>
              <textarea id='lv_form-community' name='community' data-xform-type="text">{{community}}</textarea>
              <p class="hint">Community</p>
              <p class='error lv_form-community-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup'>
                <legend>Transfer modality</legend>
                {{#transfermod_choices}}
                <input type='radio' id='lv_form-transfermod-{{name}}' name='transfermod' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-transfermod-{{name}}'>{{label}}</label>
                {{/transfermod_choices}}
              </fieldset>
              <p class='hint'>Transfer modality</p>
              <p class='error lv_form-transfermod-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup'>
                <legend>Case category</legend>
                {{#category_choices}}
                <input type='radio' id='lv_form-category-{{name}}' name='category' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-category-{{name}}'>{{label}}</label>
                {{/category_choices}}
              </fieldset>
              <p class='error lv_form-category-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-subcategory'>Sub-category</label>
              <select id='lv_form-subcategory' data-xform-type='select one' name='subcategory' required>
                <option value="">Select one...</option>
                {{#subcategory_choices}}
                <option value="{{name}}"{{#selected}} selected{{/selected}}>
                  {{label}}
                </option>
                {{/subcategory_choices}}
              </select>
              <p class='error lv_form-subcategory-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-sector'>Sector</label>
              <select id='lv_form-sector' data-xform-type='select one' name='sector' required>
                <option value="">Select one...</option>
                {{#sector_choices}}
                <option value="{{name}}"{{#selected}} selected{{/selected}}>
                  {{label}}
                </option>
                {{/sector_choices}}
              </select>
              <p class='error lv_form-sector-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-call_notes'>Call notes</label>
              <textarea id='lv_form-call_notes' name='call_notes' data-xform-type="text" required>{{call_notes}}</textarea>
              <p class='error lv_form-call_notes-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='lv_form-call_solution'>Call solution</label>
              <textarea id='lv_form-call_solution' name='call_solution' data-xform-type="text" required>{{call_solution}}</textarea>
              <p class='error lv_form-call_solution-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Case priority</legend>
                {{#case_priority_choices}}
                <input type='radio' id='lv_form-case_priority-{{name}}' name='case_priority' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-case_priority-{{name}}'>{{label}}</label>
                {{/case_priority_choices}}
              </fieldset>
              <p class='error lv_form-case_priority-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Case closed</legend>
                {{#case_status_choices}}
                <input type='radio' id='lv_form-case_status-{{name}}' name='case_status' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='lv_form-case_status-{{name}}'>{{label}}</label>
                {{/case_status_choices}}
              </fieldset>
              <p class='error lv_form-case_status-errors'></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/lvforms/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error lv_form-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
